<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Device</h4>
                  </div>
                  <div class="card-body">
                      <form  [formGroup]="form" (ngSubmit)="onSubmit()">
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="ID" class="form-control" disabled formControlName="id">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Name" type="text" formControlName="name">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="IP" type="text" formControlName="ip">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Description" type="text" formControlName="desc">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Type" type="text" formControlName="type">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Created Date" type="datetime" formControlName="createdDate">
                                </mat-form-field>
                              </div>
                          </div>
                          <button mat-raised-button type="button" (click)="onCancel()" class="btn btn-danger pull-right">Cancel</button>
                          <button mat-raised-button type="submit" [disabled]="!form.valid" class="btn btn-danger pull-right">Submit</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
